<div class="home">

    <div class="home__title">
        <div class="home__title__row"> 
          <p>Historia y</p>
        </div>
        <div class="home__title__row">
            <p>teoría</p>
        </div>
        <div class="home__title__row home__title-color">
           <p>Reunidas <span>🤔</span></p>
        </div>
    </div>



    <div class="home__description">
        <p>En esta página se reúne tanto material biográfico de los protagonistas de la historia de la estadística y la probabilidad como de sus trabajos. Adicionalmente, contiene herramientas para su uso en la vida cotidiana</p>
    </div>



    <div class="home__button">
        <button>¡Quiero probarlo!</button>
    </div>

</div>
