<div class="about">

    <div class="about__title">
    <p>Nosotros</p>
    </div>

    <div class="about__img"></div>

    <div class="about__text">
        <p>Nuestro objetivo es brindar recursos para el estudio de la estadística, la disciplina que estudia la variabilidad, recolección, organización, análisis, interpretación y presentación de los datos, así como el proceso aleatorio que los genera siguiendo las leyes de la probabilidad.</p>

        <p>Con especial énfasis en el estudio de la probabilidad es el cálculo matemático que evalúa las posibilidades que existen de que una cosa suceda cuando interviene el azar.</p>
    </div>
</div>